mixin banner--basic(options)
	.banner--basic&attributes(attributes)
		.banner__content
			.banner__text
				h4.banner__title Laureate Professional Assesment Testing
				p.label__description Employers look for candidates who approach a situation by quickly assessing and efficiently applying their knowledge to influence it.
			.banner__actions
				+button({'buttonTitle': 'Learn about the LPA'}).button--ghost-primary

mixin banner()
	.banner
		.banner__content
			.banner__label
				svg(class="icon" role="img" aria-label="icon" aria-hidden=true)
					use(xlink:href='images/icons/oc-icons.svg#oc-Ability')
				span.label__text Abilities
			.banner__text
				h1.banner__title Analyzing & Solving Problems
				span.banner__description Employers look for candidates who approach a situation by quickly assessing and efficiently applying their knowledge to influence it.
			.banner__actions
		.banner__image(style={'background-image': 'url("images/ability-analyzing-hero.svg")'})


mixin banner--about01()
	.banner.banner--lite.banner--featured-image
		.banner__content.mr-5
			.banner__text
				h1.banner__title Turn Learning into Employability
				span.banner__description This is your place for becoming a smarter, more connected professional.
		.banner__image(style={'background-image': 'url("images/Employability.svg")', 'max-width':'400px'})


mixin banner--about02()
	.banner.banner--lite.banner--image-left
		.banner__content.ml-5
			.banner__text2
				h1.banner__title Understand Your Strengths
				span.banner__description OneCampus helps you identify professional areas you can improve on based on the abilities that employers value most. Nullam id dolor id nibh ultricies vehicula ut id elit. Aenean lacinia bibendum nulla sed consectetur. Sed posuere consectetur est at lobortis.
			.banner__actions
				+button({'buttonTitle': 'Learn More'}).button--primary
				span or
				+button({'buttonTitle': 'Learn More'}).button--primary.button--ghost
		.banner__image(style={'background-image': 'url("images/strengths.svg")'})


mixin banner--about03()
	.banner.banner--lite
		.banner__content
			.banner__text2
				h1.banner__title Learn from the Best
				span.banner__description OneCampus teaches you about abilities with concise videos created by some of the world’s top business minds and educators.
			.banner__actions
				ul.list
					li.list-item
						a.list-item__link
							.list-link__icon
								svg(class="list__icon" role="img" aria-label="icon" aria-hidden=true)
									use(xlink:href='images/icons/oc-icons.svg#oc-Play')
							.list-link__text
								span.list-link__title Jobs of the Future
								span.list-link__subtitle Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur blandit tempus 
					li.list-item
						a.list-item__link
							.list-link__icon
								svg(class="list__icon" role="img" aria-label="icon" aria-hidden=true)
									use(xlink:href='images/icons/oc-icons.svg#oc-Play')
							.list-link__text
								span.list-link__title How Ready Are You?
								span.list-link__subtitle Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur blandit tempus 
					li.list-item
						a.list-item__link
							.list-link__icon
								svg(class="list__icon" role="img" aria-label="icon" aria-hidden=true)
									use(xlink:href='images/icons/oc-icons.svg#oc-Play')
							.list-link__text
								span.list-link__title World of Business
								span.list-link__subtitle Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur blandit tempus

		.banner__image(style={'background-image': 'url("images/teaching.svg")'})


mixin banner--about04()
	.banner.banner--lite.banner--image-left
		.banner__content.ml-5
			.banner__text2
				h1.banner__title Passport Let’s You Connect with Others and Track Your Achievements
				span.banner__description Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras justo odio, dapibus ac facilisis in, ege stas eget quam. Etiam porta sem malesuada ma gna mollis euismod. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Cras justo odio, dapibus ac facilisis in, egestas eget quam. 
					a.link(style={'color':"rgba(255, 124, 95, 1)"}) Go to passport	
		.banner__image(style={'background-image': 'url("images/achievements.svg")'})


mixin banner--about05()
	.banner.banner--lite
		.banner__content
			.banner__text2
				h1.banner__title Learn within a global community of peers, faculty and business professionals
				span.banner__description On OneCampus, you are learning alongside your peers. Join a community of learners around the globe who are working on improving their professional abilities. Share experiences, learn in new contexts, and strengthen your global mindset as you prepare for the global job market.

		.banner__image(style={'background-image': 'url("images/global-community.svg")'})

mixin banner--ability()
	.banner
		.banner__content
			.banner__label
				svg(class="icon" role="img" aria-label="icon" aria-hidden=true)
					use(xlink:href='')
			.banner__text
				h1.banner__title Professional Abilities you need to succeed
				span.banner__description You go to school to learn technical skills like finance, journalist or engineering In dui magna, posuere eget, vestibulum et, tempor auctor, justo. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Sed aliquam, nisi quis porttitor congue, elit erat euismod orci, ac placerat dolor lectus quis orci. Maecenas malesuada.
			.banner__actions
		.banner__image(style={'background-image': 'url("./images/1.png")'})
