mixin box(options)
  - options = options || {};
  - var showImage = options.showImage || false;
  - var showDescription = options.showDescription || false;
  - var showAction = options.showAction || false;
  - var hideSubtitle = options.hideSubtitle || false;
  - var boxTitle = options.boxTitle || 'Coming in September, exclusively on OneCampus – World Business Forum London';
  - var boxSubtitle = options.boxSubtitle || 'World Business Forum London';
  - var boxAction = options.boxAction || 'Learn more';
  - var boxDescription = options.boxDescription || 'Morbi mattis ullamcorper velit. Donec elit libero, sodales nec, volutpat a, suscipit non, turpis. Ut a nisl id ante tempus hendrerit. Praesent porttitor, nulla vitae posuere iaculis, arcu nisl dignissim dolor, a pretium mi sem ut ipsum. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem.';
  - var boxImage = options.boxImage || 'images/keyBehavior01.png';
  - var showIcon = options.showIcon || false;
  - var iconName = options.iconName || '';
  - var iconUrl = 'images/icons/oc-icons.svg#oc-'+iconName;

  .box&attributes(attributes)
    .box__media
      if showImage
        img.box__image(src=boxImage alt='key')
      if showIcon
        svg(class="box__icon" role="img" aria-label="icon" aria-hidden=true)
          use(xlink:href=iconUrl)
    unless hideSubtitle
      .box__subtitle #{boxSubtitle}
    .box__title #{boxTitle}
    if showDescription
      .box__description #{boxDescription}
    if showAction
      +button({'buttonTitle': boxAction}).button--primary
mixin box-quotes()
  .box-quotes
    .box-body
      img.float-left(src="https://storage.googleapis.com/portal-assets/assets/images/images/quote.svg", alt="")
      h2.text-center Data Science are kind of like the new reinaissance folks, because data science is inherently multidisciplinary.
      img.float-right(src="https://storage.googleapis.com/portal-assets/assets/images/images/quote.svg", alt="")

mixin box-info()
  .box-info.box-info__warning
    .box-body
      .flex-container
        img.media-src.mt-3(src="./images/medal.svg", alt="")
        .box-info--text-content 
          h5.mt-3 Congratulations
          p You already complete with success all the courses. Now you can download your certificate
          +button({'buttonTitle': 'Download Certificate'}).button--primary