mixin topbar()
  nav.topbar&attributes(attributes)
    .topbar__menu
      button.topbar__menu-toggle
        svg(class="topbar__menu-icon" role="img" aria-label="icon" aria-hidden=true)
          use(xlink:href='images/icons/oc-icons.svg#oc-List')
    .topbar__content.topbar__content--left
      img(src="images/logo-onecampus-white.svg" class="topbar__logo")
    .topbar__content.topbar__content--right
      .topbar__nav-item
        button.topbar__dropdown-button
          svg(class="topbar__menu-icon" role="img" aria-label="icon" aria-hidden=true)
            use(xlink:href='images/icons/oc-icons.svg#oc-search')
      .topbar__nav-item
        button.topbar__dropdown-button.topbar__dropdown-button--notification
          svg(class="topbar__menu-icon" role="img" aria-label="icon" aria-hidden=true)
            use(xlink:href='images/icons/oc-icons.svg#oc-bell')

        nav.topbar__dropdown.is-open
          .topbar__dropdown-content
            .dropdown__header
              .dropdown__header-text Notificaciones
              a.dropdown__header-link(href="#") Ver todo

            ul.dropdown__link-list
              li.dropdown__link-list-item
                a.dropdown__link(tabindex="0" href="#")
                  .dropdown__link-media
                    img.link__image(src="images/user-2--profile.jpg" alt='key')
                    img.link__image.link__image--left-overlapped(src="images/stamp-data-scientist.svg" alt='key')
                  .dropdown__link-text
                    span.link__title Hi user, your connection, <b>userName</b>, earned...
                    span.link__subtitle hace 5 meses
              li.dropdown__link-list-item
                a.dropdown__link(tabindex="0" href="#")
                  .dropdown__link-media
                    img.link__image(src="images/user-2--profile.jpg" alt='key')
                  .dropdown__link-text
                    span.link__title Hi user, your connection, <b>userName</b>, earned...
                    span.link__subtitle hace 5 meses
              li.dropdown__link-list-item
                a.dropdown__link(tabindex="0" href="#")
                  .dropdown__link-media
                    img.link__image(src="images/icon-onecampus.svg" alt='key')
                  .dropdown__link-text
                    span.link__title OneCampus® by Laureate News! A new post was added....
        
      .topbar__nav-item
        button.topbar__dropdown-button
          .avatar(style={"background-image": "url('images/user--profile.png')"})

        nav.topbar__dropdown
          .topbar__dropdown-content
            .dropdown__header
              .dropdown__header-icon
                svg(class="icon" role="img" aria-label="icon" aria-hidden=true)
                  use(xlink:href='images/icons/oc-icons.svg#oc-passport')
              .dropdown__header-text Pasaporte
              a.dropdown__header-link(href="#") Ver mi Pasaporte

            +checkbox--lang()

            ul.dropdown__link-list
              li.dropdown__link-list-item
                a.dropdown__link(tabindex="0" href="#")
                  span Configuraciones
              li.dropdown__link-list-item
                a.dropdown__link(tabindex="0" href="#")
                  span Ayuda y reporte
              li.dropdown__link-list-item
                a.dropdown__link(tabindex="0" href="#")
                  span Cerrar sesión

  +sidebar-menu--level1().is-active

mixin topbar--closed-menu()
  nav.topbar&attributes(attributes)
    .topbar__menu
      button.topbar__menu-toggle
        svg(class="topbar__menu-icon" role="img" aria-label="icon" aria-hidden=true)
          use(xlink:href='images/icons/oc-icons.svg#oc-List')
    .topbar__content.topbar__content--left
      img(src="images/logo-onecampus-white.svg" class="topbar__logo")
    .topbar__content.topbar__content--right
      .topbar__nav-item
        button.topbar__dropdown-button
          svg(class="topbar__menu-icon" role="img" aria-label="icon" aria-hidden=true)
            use(xlink:href='images/icons/oc-icons.svg#oc-search')
      .topbar__nav-item
        button.topbar__dropdown-button.topbar__dropdown-button--notification
          svg(class="topbar__menu-icon" role="img" aria-label="icon" aria-hidden=true)
            use(xlink:href='images/icons/oc-icons.svg#oc-bell')

        nav.topbar__dropdown
          .topbar__dropdown-content
            .dropdown__header
              .dropdown__header-text Notificaciones
              a.dropdown__header-link(href="#") Ver todo

            ul.dropdown__link-list
              li.dropdown__link-list-item
                a.dropdown__link(tabindex="0" href="#")
                  .dropdown__link-media
                    img.link__image(src="images/user-2--profile.jpg" alt='key')
                    img.link__image.link__image--left-overlapped(src="images/stamp-data-scientist.svg" alt='key')
                  .dropdown__link-text
                    span.link__title Hi user, your connection, <b>userName</b>, earned...
                    span.link__subtitle hace 5 meses
              li.dropdown__link-list-item
                a.dropdown__link(tabindex="0" href="#")
                  .dropdown__link-media
                    img.link__image(src="images/user-2--profile.jpg" alt='key')
                  .dropdown__link-text
                    span.link__title Hi user, your connection, <b>userName</b>, earned...
                    span.link__subtitle hace 5 meses
              li.dropdown__link-list-item
                a.dropdown__link(tabindex="0" href="#")
                  .dropdown__link-media
                    img.link__image(src="images/icon-onecampus.svg" alt='key')
                  .dropdown__link-text
                    span.link__title OneCampus® by Laureate News! A new post was added....
        
      .topbar__nav-item
        button.topbar__dropdown-button
          .avatar(style={"background-image": "url('images/user--profile.png')"})

        nav.topbar__dropdown
          .topbar__dropdown-content
            .dropdown__header
              .dropdown__header-icon
                svg(class="icon" role="img" aria-label="icon" aria-hidden=true)
                  use(xlink:href='images/icons/oc-icons.svg#oc-passport')
              .dropdown__header-text Pasaporte
              a.dropdown__header-link(href="#") Ver mi Pasaporte

            +checkbox--lang()

            ul.dropdown__link-list
              li.dropdown__link-list-item
                a.dropdown__link(tabindex="0" href="#")
                  span Configuraciones
              li.dropdown__link-list-item
                a.dropdown__link(tabindex="0" href="#")
                  span Ayuda y reporte
              li.dropdown__link-list-item
                a.dropdown__link(tabindex="0" href="#")
                  span Cerrar sesión

  +sidebar-menu--level1()

