include includes/head.pug
body
	+new-menu()
	.page
		.page-content.container.page-content--with-sidebar
			.container--with-sidebar
				.video-thumbnail.video-thumbnail--lg(style={'background-image': 'url("images/content-viewer-video.png")'})
					button.video-thumbnail--play
						svg(class="video-thumbnail-icon" role="img" aria-label="icon" aria-hidden=true)
							use(xlink:href='images/icons/oc-icons.svg#oc-Play')

				.article
					.article__title The Robots Are Coming, And They’re Already Here
					.article__post-info
						.article__author
							img.avatar.avatar--small.rounded-circle(src="images/Avatar/avatar-user-01.png", alt="Author Photo")
							.article__info-text
								.article__author-name Tim Leberecht
								.article__post-date May 23, 2020
						.article__actions
								button.article__action
									svg(class="article__action-icon" role="img" aria-label="icon" aria-hidden=true)
										use(xlink:href='images/icons/oc-icons.svg#oc-heart')
								button.article__action
									svg(class="article__action-icon" role="img" aria-label="icon" aria-hidden=true)
										use(xlink:href='images/icons/oc-icons.svg#oc-share')

					.article__excerpt Everyone is aware of the exponential rise of automation. Several studies predict that up to 50% of the human workforce is gonna be replaced by software and robots in the next 20 years. Tim Leberecht discusses a big problem: organizations must be very careful with algorithms.They may do things right, but they don't do the right thing because they lack human intuiton.
					.article__tags
						+label("Innovation")
						+label("Entrepeneur")
						+label("Making Decisions")
						+label("Emerging Technology")
					.article__badges
						.article__badge-title Badges associated with this content
						.article__badge-container
							.badge-image-container
								+badge-image()
								+badge-image({badgeImage: 'Team Player - gray.svg'})
								+badge-image({badgeImage: 'Tourist - color.svg'})
								+badge-image({badgeImage: 'Internationality - color.svg'})
								+badge-image({badgeImage: 'AI Pioneer - color.svg'})
								+badge-image({badgeImage: 'Connector - color.svg'})
								+badge-image({badgeImage: 'Explorer - color.svg'})


				.comments-container Disqus widget goes here

			.sidebar-layout
				.sidebar-layout__main-container
					h1.sidebar-layout__title Recommended
					.card.card--video-with-actions
						.video-thumbnail.video-thumbnail--9-21(style={'background-image': 'url("images/card-image-01.png")'})
							button.video-thumbnail--play
								svg(class="video-thumbnail-icon" role="img" aria-label="icon" aria-hidden=true)
									use(xlink:href='images/icons/oc-icons.svg#oc-Play')
						.card__title Etiam Condimentum Magna Egestas Sem
						.card__description Donec id elit non mi porta gravida at eget metus. Cura bitur blandit tempus porttitor. Nullam quis risus eget  as mollis ornaLorem ipsum dolor sit amet, consectur…
						.card__footer
							.card__footer-stats
								svg(class="card__stat-icon" role="img" aria-label="icon" aria-hidden=true)
									use(xlink:href='images/icons/oc-icons.svg#oc-bubble')
								span.card__footer-stats-text 1.1k
							.card__footer-actions
								button.card__action
									svg(class="card__action-icon" role="img" aria-label="icon" aria-hidden=true)
										use(xlink:href='images/icons/oc-icons.svg#oc-heart')
								button.card__action
									svg(class="card__action-icon" role="img" aria-label="icon" aria-hidden=true)
										use(xlink:href='images/icons/oc-icons.svg#oc-bookmark')
					
					.card.card--video-with-actions
						.video-thumbnail.video-thumbnail--9-21(style={'background-image': 'url("images/card-image-02.png")'})
							button.video-thumbnail--play
								svg(class="video-thumbnail-icon" role="img" aria-label="icon" aria-hidden=true)
									use(xlink:href='images/icons/oc-icons.svg#oc-Play')
						.card__title Etiam Condimentum Magna Egestas Sem
						.card__description Donec id elit non mi porta gravida at eget metus. Cura bitur blandit tempus porttitor. Nullam quis risus eget  as mollis ornaLorem ipsum dolor sit amet, consectur…
						.card__footer
							.card__footer-stats
								svg(class="card__stat-icon" role="img" aria-label="icon" aria-hidden=true)
									use(xlink:href='images/icons/oc-icons.svg#oc-bubble')
								span.card__footer-stats-text 1.1k
							.card__footer-actions
								button.card__action
									svg(class="card__action-icon" role="img" aria-label="icon" aria-hidden=true)
										use(xlink:href='images/icons/oc-icons.svg#oc-heart')
								button.card__action
									svg(class="card__action-icon" role="img" aria-label="icon" aria-hidden=true)
										use(xlink:href='images/icons/oc-icons.svg#oc-bookmark')
					
					.card.card--video-with-actions
						.video-thumbnail.video-thumbnail--9-21(style={'background-image': 'url("images/card-image-03.png")'})
							button.video-thumbnail--play
								svg(class="video-thumbnail-icon" role="img" aria-label="icon" aria-hidden=true)
									use(xlink:href='images/icons/oc-icons.svg#oc-Play')
						.card__title Etiam Condimentum Magna Egestas Sem
						.card__description Donec id elit non mi porta gravida at eget metus. Cura bitur blandit tempus porttitor. Nullam quis risus eget  as mollis ornaLorem ipsum dolor sit amet, consectur…
						.card__footer
							.card__footer-stats
								svg(class="card__stat-icon" role="img" aria-label="icon" aria-hidden=true)
									use(xlink:href='images/icons/oc-icons.svg#oc-bubble')
								span.card__footer-stats-text 1.1k
							.card__footer-actions
								button.card__action
									svg(class="card__action-icon" role="img" aria-label="icon" aria-hidden=true)
										use(xlink:href='images/icons/oc-icons.svg#oc-heart')
								button.card__action
									svg(class="card__action-icon" role="img" aria-label="icon" aria-hidden=true)
										use(xlink:href='images/icons/oc-icons.svg#oc-bookmark')

				.sidebar-layout__main-container
					h1.sidebar-layout__title Students viewed from...
					ol.list.list--with-image
						li.list-item
							.list-item__content
								img(src="images/countries/Mexico.png", alt="Mexico flag").list-image
								.list-text
									.list-title Mexico
									.list-subtitle 5,359 students
						li.list-item
							.list-item__content
								img(src="images/countries/Peru.png", alt="Peru flag").list-image
								.list-text
									.list-title Peru
									.list-subtitle 5,359 students
						li.list-item
							.list-item__content
								img(src="images/countries/Colombia.png", alt="Colombia flag").list-image
								.list-text
									.list-title Colombia
									.list-subtitle 5,359 students

		+footer()